body {
  background-color: #000000;
  font-family: "Lora", serif;
  font-weight: 500;
  font-style: italic;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 4pc;
  padding-right: 4pc;
  border-bottom: 1px solid #000000;
  margin-bottom: 15px;
  background-color: transparent;
  background: #030637;
  width: 80%;
  position: fixed;
  top: 0;
  z-index: 10000;
  border-bottom: none;
  height: 50px;
}
.nav h1 {
  color: #e4dee4;
  font-size: 23px;
  font-weight: 600;
  margin-top: 25px;
}
.nav ul {
  display: flex;
  padding: 10px;
}
.nav ul li {
  margin-right: 30px;
  list-style: none;
  position: relative;
}
.nav ul li .fa-bars {
  font-size: 30px;
  color: #e4dee4;
}
.nav ul li a {
  text-decoration: none;
  color: #e4dee4;
  font-size: 22px;
}
.nav button {
  background-color: #e4dee4;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 130px;
  font-size: 15px;
  position: relative;
  z-index: 100;
  font-weight: bold;
}
.nav button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 0%;
  background-color: #0A0119;
  height: 100%;
}
.nav button:hover {
  cursor: pointer;
  color: #F9F5FF;
  transition: 1s;
}
.nav button:hover::after {
  content: "";
  transition: 1s;
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #009FBD;
  height: 100%;
  border-radius: 10px;
  border: none;
}
.nav button a {
  color: #0A0119;
  text-decoration: none;
  font-size: 17px;
}
.nav .dote {
  font-size: 20px;
  border-radius: 50%;
  padding-right: 30px;
  color: green;
}

.head {
  display: flex;
  justify-content: center;
}
.head .Header {
  display: flex;
  justify-content: space-between;
  color: #e4dee4;
  padding: 5pc;
  background-color: #030637;
  width: 80%;
  border-radius: 20px;
}
.head .Header .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  font-size: 18px;
  margin: 10px;
}
.head .Header .text p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
  font-size: 18px;
}
.head .Header .text button {
  margin-top: 10px;
  background-color: #e4dee4;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  font-size: 16px;
  position: relative;
  z-index: 100;
  font-weight: bold;
}
.head .Header .text button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 0%;
  background-color: #0A0119;
  height: 100%;
}
.head .Header .text button:hover {
  cursor: pointer;
  color: #F9F5FF;
  transition: 1s;
}
.head .Header .text button:hover::after {
  content: "";
  transition: 1s;
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #009FBD;
  height: 100%;
  border-radius: 10px;
  border: none;
}
.head .Header .text button a {
  color: #0A0119;
  text-decoration: none;
  font-size: 17px;
}
.head .Header .pic img {
  width: 400px;
  height: auto;
}

.Title {
  text-align: center;
  color: #e4dee4;
}

.information {
  display: flex;
  justify-content: space-between;
  color: #e4dee4;
  padding: 5pc;
}
.information .about {
  padding: 20px;
  width: 53%;
  font-size: 18px;
  word-spacing: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.information .about p {
  white-space: 12px;
}
.information .about button {
  font-weight: bold;
  margin-top: 10px;
  color: #0A0119;
  background-color: #e4dee4;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 100px;
  font-size: 16px;
  position: relative;
  z-index: 100;
}
.information .about button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 0%;
  background-color: #0A0119;
  height: 100%;
}
.information .about button:hover {
  cursor: pointer;
  transition: 1s;
  color: #F9F5FF;
}
.information .about button:hover::after {
  content: "";
  transition: 1s;
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #009FBD;
  height: 100%;
  border-radius: 10px;
  border: none;
}
.information .about button a {
  text-decoration: none;
  font-size: 17px;
}
.information .pic2 {
  margin-left: 30px;
}
.information img {
  width: 400px;
  height: auto;
}

.projects {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 70px;
}
.projects .first {
  width: 400px;
  height: auto;
  position: relative;
  text-align: center;
}
.projects .first img {
  width: 400px;
  position: relative;
}
.projects .first .hotel {
  width: 400px;
  position: relative;
}
.projects .first .icons {
  position: absolute;
  top: -2%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, transparent, rgb(46, 46, 63));
  opacity: 0;
}
.projects .first .icons .fa-link {
  color: #f8f6f8;
  font-size: 30px;
}
.projects .first:hover .icons {
  opacity: 1;
  transition: 0.5s;
}
.projects .second {
  width: 400px;
  height: auto;
  position: relative;
  text-align: center;
}
.projects .second img {
  width: 400px;
}
.projects .second .icons {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, transparent, rgb(46, 46, 63));
  opacity: 0;
}
.projects .second .icons .fa-link {
  color: #f8f6f8;
  font-size: 30px;
}
.projects .second:hover .icons {
  opacity: 1;
  transition: 0.5s;
}

.aboutme {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.aboutme .skills {
  border-radius: 20px;
  background-color: #030637;
  width: 80%;
  padding-top: 10px;
  color: #e4dee4;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aboutme .skills .first, .aboutme .skills .second, .aboutme .skills .third {
  margin-right: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.aboutme .skills p {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0c5977;
  border: none;
  margin-left: 100px;
  padding: 30px;
  color: #e4dee4;
  font-size: 30px;
  z-index: 30;
}
.aboutme .skills p::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 0%;
  background-color: #FF5F00;
}
.aboutme .skills p:hover {
  border-bottom: 1px solid #000000;
  transition: 1s;
  color: #000000;
}
.aboutme .skills p:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FF5F00;
  transition: 1s;
  z-index: -1;
}
.aboutme .Title {
  font-size: 30px;
}

.myself {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}
.myself .container {
  width: 80%;
  background-color: #030637;
  border-radius: 20px;
  padding: 5pc;
  background-color: #030637;
  width: 80%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project .section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #030637;
  width: 80%;
  border-radius: 20px;
  padding-top: 20px;
  margin-top: 20px;
}

.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4dee4;
  flex-direction: column;
}
.Contact .container {
  background-color: #030637;
  width: 80%;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
  padding: 10px 10px 0 10px;
}
.Contact .email {
  text-align: center;
}
.Contact .icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 4px;
}
.Contact .icons .fa-linkedin {
  font-size: 22px;
  margin-right: 15px;
}
.Contact .icons .fa-linkedin:hover {
  cursor: pointer;
}
.Contact .icons .fa-facebook {
  font-size: 22px;
  margin-right: 15px;
}
.Contact .icons .fa-facebook:hover {
  cursor: pointer;
}
.Contact .icons .fa-whatsapp {
  font-size: 22px;
}
.Contact .icons .fa-whatsapp:hover {
  cursor: pointer;
}
.Contact .icons .contactme {
  margin-right: 25px;
  padding: 30px;
}
.Contact .name {
  padding-left: 20px;
}
.Contact a {
  color: #e4dee4;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: #002379;
  color: #e4dee4;
  position: absolute;
  top: 0;
  z-index: 1000000;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 5pc;
  font-family: "Playwrite CU", cursive;
  font-weight: bold;
  overflow-x: hidden;
  transform: translateX(-100%);
  left: 0;

}

body {
  overflow-x: hidden;
}

.Not {
  background-color: #009FBD;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  left: 0;
}
.Not a button {
  background-color: #000000;
  color: #009FBD;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.Not a button:hover {
  cursor: pointer;
}

@media (max-width: 480px) {

body{
  overflow-x: hidden;
}
.nav {
  /* border-radius: 20px; */
  display: flex;
  justify-content: start;
  padding: 20px;
  /* padding-left: 4pc; */
  /* padding-right: 4pc; */
  border-bottom: 1px solid #000000;
  margin-bottom: 15px;
  background-color: transparent;
  background: #030637;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  border-bottom: none;
  height: 50px;
}
.Header img{
  width: 145px;
}
.nav button {
  background-color: #e4dee4;
  border: none;
  border-radius: 15px;
  padding: 12px;
  width: 100px;
  font-size: 15px;
  position: relative;
  z-index: 100;
  font-weight: bold;
}
.head .Header {
  display: flex;
  justify-content: space-between;
  color: #e4dee4;
  padding: 3px;
  background-color: #030637;
  width: 100%;
  border-radius: 20px;
  margin-top: 64px;
}

.head .Header .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 348px;
    font-size: 13px;
    margin: 10px;
}
  
.head .Header .text p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
  font-size: 14px;
}
.myself {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}
.myself .container {
  /* width: 80%; */
  background-color: #030637;
  border-radius: 20px;
  padding: 3px;
  background-color: #030637;
  width: 100%;
}
.information {
  display: flex;
  justify-content: space-between;
  color: #e4dee4;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.information .pic2 {
  margin-left: 0px;
  display: flex;
  justify-content: center;
}
.information img {
  width: 289px;
  height: auto;
}
.information .about {
  /* padding: 20px; */
  width: 100%;
  font-size: 9px;
  word-spacing: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
}
.information .about button {
  font-weight: bold;
  margin-top: 10px;
  color: #0A0119;
  background-color: #e4dee4;
  border: none;
  border-radius: 15px;
  padding: 8px;
  width: 94px;
  font-size: 13px;
  position: relative;
  z-index: 100;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project .section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #030637;
  width: 100%;
  border-radius: 20px;
  /* padding-top: 20px; */
  margin-top: 20px;
  padding: 7px;
  padding-top: 0px;
  /* display: none; */
}
.project .projects {
  display: flex;
  /* justify-content: space-between; */
  gap: 100px;
  padding: 7px;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.projects .first {
  height: auto;
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.projects .first .hotel {
  width: 100%;
  position: relative;
}
.projects .first img {
  width: 100%;
  position: relative;
  height: auto;
}
.projects .first .icons {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, transparent, rgb(46, 46, 63));
  opacity: 0;
}

.projects .second {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}
.projects .second img {
  width: 100%;
}
.aboutme .skills .first, .aboutme .skills .second, .aboutme .skills .third {
  margin-right: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aboutme .skills {
  border-radius: 20px;
  background-color: #030637;
  width: 100%;
  padding-top: 10px;
  color: #e4dee4;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutme {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  width: 100%;

}
.second .hotel{
width: 100%;
}
.skills .scale{
  width: 100%;
}
.Contact .container {
  background-color: #030637;
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  padding: 7px;
  /* padding: 5px 10px 0 10px; */
}
.Contact .container .email h1{
  font-size: 14px;
}
.Contact .icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 4px;
  flex-direction: column;
}
.Contact .icons .contactme {
  margin-right: 0px;
  padding: 30px;
}
.nav img{
  width: 150px;
}
.loading{
  flex-direction: column;
  font-size: 20px;
  overflow-x: hidden;
  width: 100%;
  overflow-x: hidden;

}
body{
  overflow-x: hidden;

}
.Not{
  flex-direction: column;
  font-size: 15px;
  padding: 0;
  margin: 0;
  left: 0;
}
.nav{
  justify-content: space-between;
}
}




@media ((min-width: 481px) and (max-width: 768px)) {
  .nav button {
    background-color: #e4dee4;
    border: none;
    border-radius: 15px;
    /* padding: 10px; */
    width: 98px;
    font-size: 12px;
    position: relative;
    z-index: 100;
    font-weight: bold;
    /* padding: 15px; */
  }
  .nav {
    border-radius: 20px;
    display: flex;
    padding-right: 4pc;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
    background-color: transparent;
    background: #030637;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-bottom: none;
    height: 50px;
    margin-right: 55px;
  }
  .nav img {
    width: 176px;
    height: auto;
    padding: 15px;
  }
  body {
    overflow-x: auto;
  }
  .head {
    margin-left: -78px;
    /* display: flex; */
    /* justify-content: center; */
    flex-direction: column;
    /* text-align: justify; */
  }
  .head .Header {
    display: flex;
    justify-content: space-between;
    color: #e4dee4;
    padding: 5pc;
    background-color: #030637;
    width: 100%;
    border-radius: 20px;
  }
  .head .Header .text {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 100%;
    font-size: 17px;
    /* margin: 10px; */
  }
  .head .Header .text p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    font-size: 15px;
    width: 182%;
  }
  .head .Header .text button {
    margin-top: 10px;
    background-color: #e4dee4;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 116px;
    font-size: 14px;
    position: relative;
    z-index: 100;
    font-weight: bold;
  }
  .information .about p {
    white-space: 12px;
    font-size: 14px;
    width: 33pc;
    padding: 1px;
  }
  .myself {
    width: 96%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    padding: 0px;
  }
  .information .about {
    padding: 20px;
    /* font-size: 16px; */
    word-spacing: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    /* padding: 35px; */
    margin-right: 15pc;
  }
  .information {
    display: flex;
    /* justify-content: space-between; */
    color: #e4dee4;
    padding: 5pc;
    flex-direction: column;
    align-items: center;
  }
  .information img {
    width: 340px;
    height: auto;
  }
  .information .about button {
    font-weight: bold;
    margin-top: 10px;
    color: #0A0119;
    background-color: #e4dee4;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 88px;
    font-size: 14px;
    position: relative;
    z-index: 100;
  }
  .projects .first {
    width: 385px;
    height: auto;
    position: relative;
    text-align: center;
  }
  .projects .first img {
    width: 67%;
    height: auto;
    margin-left: 25px;
  }
  .projects .second img {
    width: 65%;
    height: auto;
    margin-left: 8px;
  }
  .projects {
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    padding: 70px;
    flex-direction: column;
  }
  .project .section3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #030637;
    width: 100%;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }
  .projects .first .hotel {
    width: 370px;
    position: relative;
  }
  .projects .first .icons {
    left: 18%;
    position: absolute;
    top: 0%;
    width: 66%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent, rgb(46, 46, 63));
    opacity: 0;
  }
  .projects .second {
    width: 370px;
    position: relative;
    margin-left: -6px;
  }
  .projects .second .icons {
    left: 20%;
    position: absolute;
    top: 0%;
    width: 71%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent, rgb(46, 46, 63));
    opacity: 0;
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 102%;
    margin-left: -8px;
  }
  .project .Title {
    text-align: center;
    color: #e4dee4;
    font-size: 20px;
  }
  .aboutme .skills .first, .aboutme .skills .second, .aboutme .skills .third {
    margin-right: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
  }
  .aboutme .skills {
    border-radius: 20px;
    background-color: #030637;
    width: 100%;
    padding-top: 10px;
    color: #e4dee4;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Contact .email {
    text-align: center;
    font-size: 11px;
  }
  .Contact .icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 4px;
    flex-direction: column;
    align-items: center;
  }
  .Contact .icons .contactme {
    /* margin-right: 25px; */
    padding: 30px;
  }
  .Contact .container {
    background-color: #030637;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    padding: 10px 10px 0 10px;
  }
  body {
    overflow-x: hidden;
  }
  .head .Header .pic img {
    width: 400px;
    height: auto;
    display: none;
  }
  .loading {
    flex-direction: column;
    font-size: 30px;
    left: 0;
  }
  .Not {
    font-size: 15px;
    left: 0;
  }
}
@media ((min-width: 769px) and (max-width: 992px)) {
  .nav button {
    background-color: #e4dee4;
    border: none;
    border-radius: 15px;
    /* padding: 10px; */
    width: 98px;
    font-size: 12px;
    position: relative;
    z-index: 100;
    font-weight: bold;
    /* padding: 15px; */
  }
  .nav {
    border-radius: 20px;
    display: flex;
    padding-right: 4pc;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
    background-color: transparent;
    background: #030637;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-bottom: none;
    height: 50px;
    margin-right: 55px;
  }
  .nav img {
    width: 176px;
    height: auto;
    padding: 15px;
  }
  body {
    overflow-x: auto;
  }
  .head {
    margin-left: -78px;
    /* display: flex; */
    /* justify-content: center; */
    flex-direction: column;
    /* text-align: justify; */
  }
  .head .Header {
    display: flex;
    justify-content: space-between;
    color: #e4dee4;
    padding: 5pc;
    background-color: #030637;
    width: 100%;
    border-radius: 20px;
  }
  .head .Header .text {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 100%;
    font-size: 17px;
    /* margin: 10px; */
  }
  .head .Header .text p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    font-size: 15px;
    width: 134%;
  }
  .head .Header .text button {
    margin-top: 10px;
    background-color: #e4dee4;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 116px;
    font-size: 14px;
    position: relative;
    z-index: 100;
    font-weight: bold;
  }
  .information .about p {
    white-space: 12px;
    font-size: 14px;
    width: 52pc;
    padding: 1px;
  }
  .myself {
    width: 96%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    padding: 0px;
  }
  .myself .container {
    background-color: #030637;
    border-radius: 20px;
    padding: 5pc;
    background-color: #030637;
    width: 92%;
  }
  .information .about {
    padding: 20px;
    /* font-size: 16px; */
    word-spacing: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    /* padding: 35px; */
    margin-right: 15pc;
  }
  .information {
    display: flex;
    /* justify-content: space-between; */
    color: #e4dee4;
    padding: 5pc;
    flex-direction: column;
    align-items: center;
  }
  .information img {
    width: 340px;
    height: auto;
  }
  .information .about button {
    font-weight: bold;
    margin-top: 10px;
    color: #0A0119;
    background-color: #e4dee4;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 88px;
    font-size: 14px;
    position: relative;
    z-index: 100;
  }
  .projects .first {
    width: 385px;
    height: auto;
    position: relative;
    text-align: center;
  }
  .projects .first img {
    width: 67%;
    height: auto;
    margin-left: 25px;
  }
  .projects .second img {
    width: 65%;
    height: auto;
    margin-left: 8px;
  }
  .projects {
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    padding: 70px;
    flex-direction: column;
  }
  .project .section3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #030637;
    width: 100%;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }
  .projects .first .hotel {
    width: 370px;
    position: relative;
  }
  .projects .first .icons {
    left: 18%;
    position: absolute;
    top: 0%;
    width: 66%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent, rgb(46, 46, 63));
    opacity: 0;
  }
  .projects .second {
    width: 370px;
    position: relative;
    margin-left: -6px;
  }
  .projects .second .icons {
    left: 20%;
    position: absolute;
    top: 0%;
    width: 71%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent, rgb(46, 46, 63));
    opacity: 0;
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 102%;
    margin-left: -8px;
  }
  .project .Title {
    text-align: center;
    color: #e4dee4;
    font-size: 20px;
  }
  .aboutme .skills .first, .aboutme .skills .second, .aboutme .skills .third {
    margin-right: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
  }
  .aboutme .skills {
    border-radius: 20px;
    background-color: #030637;
    width: 100%;
    padding-top: 10px;
    color: #e4dee4;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Contact .email {
    text-align: center;
    font-size: 11px;
  }
  .Contact .icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 4px;
    flex-direction: column;
    align-items: center;
  }
  .Contact .icons .contactme {
    /* margin-right: 25px; */
    padding: 30px;
  }
  .Contact .container {
    background-color: #030637;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    padding: 10px 10px 0 10px;
  }
  body {
    overflow-x: hidden;
  }
  .head .Header .pic img {
    width: 400px;
    height: auto;
    display: none;
  }
  .loading {
    flex-direction: column;
    font-size: 30px;
    left: 0;
  }
  .Not {
    font-size: 15px;
    left: 0;
  }
}
@media ((min-width: 993px) and (max-width: 1124px)) {
  .nav button {
    background-color: #e4dee4;
    border: none;
    border-radius: 15px;
    /* padding: 10px; */
    width: 98px;
    font-size: 12px;
    position: relative;
    z-index: 100;
    font-weight: bold;
    /* padding: 15px; */
  }
  .nav {
    border-radius: 20px;
    display: flex;
    padding-right: 4pc;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
    background-color: transparent;
    background: #030637;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-bottom: none;
    height: 50px;
    margin-right: 55px;
  }
  .nav img {
    width: 176px;
    height: auto;
    padding: 15px;
  }
  body {
    overflow-x: auto;
  }
  .head {
    margin-left: -78px;
    /* display: flex; */
    /* justify-content: center; */
    flex-direction: column;
    /* text-align: justify; */
  }
  .head .Header {
    display: flex;
    justify-content: space-between;
    color: #e4dee4;
    padding: 5pc;
    background-color: #030637;
    width: 100%;
    border-radius: 20px;
  }
  .head .Header .text {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 100%;
    font-size: 17px;
    /* margin: 10px; */
  }
  .head .Header .text p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    font-size: 15px;
    width: 134%;
  }
  .head .Header .text button {
    margin-top: 10px;
    background-color: #e4dee4;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 116px;
    font-size: 14px;
    position: relative;
    z-index: 100;
    font-weight: bold;
  }
  .information .about p {
    white-space: 12px;
    font-size: 14px;
    width: 52pc;
    padding: 1px;
  }
  .myself {
    width: 96%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    padding: 0px;
  }
  .myself .container {
    background-color: #030637;
    border-radius: 20px;
    padding: 5pc;
    background-color: #030637;
    width: 92%;
  }
  .information .about {
    padding: 20px;
    /* font-size: 16px; */
    word-spacing: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    /* padding: 35px; */
    margin-right: 15pc;
  }
  .information {
    display: flex;
    /* justify-content: space-between; */
    color: #e4dee4;
    padding: 5pc;
    flex-direction: column;
    align-items: center;
  }
  .information img {
    width: 340px;
    height: auto;
  }
  .information .about button {
    font-weight: bold;
    margin-top: 10px;
    color: #0A0119;
    background-color: #e4dee4;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 88px;
    font-size: 14px;
    position: relative;
    z-index: 100;
  }
  .projects .first {
    width: 385px;
    height: auto;
    position: relative;
    text-align: center;
  }
  .projects .first img {
    width: 67%;
    height: auto;
    margin-left: 25px;
  }
  .projects .second img {
    width: 65%;
    height: auto;
    margin-left: 8px;
  }
  .projects {
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    padding: 70px;
    flex-direction: column;
  }
  .project .section3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #030637;
    width: 100%;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }
  .projects .first .hotel {
    width: 370px;
    position: relative;
  }
  .projects .first .icons {
    left: 18%;
    position: absolute;
    top: 0%;
    width: 66%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent, rgb(46, 46, 63));
    opacity: 0;
  }
  .projects .second {
    width: 370px;
    position: relative;
    margin-left: -6px;
  }
  .projects .second .icons {
    left: 20%;
    position: absolute;
    top: 0%;
    width: 71%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent, rgb(46, 46, 63));
    opacity: 0;
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 102%;
    margin-left: -8px;
  }
  .project .Title {
    text-align: center;
    color: #e4dee4;
    font-size: 20px;
  }
  .aboutme .skills .first, .aboutme .skills .second, .aboutme .skills .third {
    margin-right: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
  }
  .aboutme .skills {
    border-radius: 20px;
    background-color: #030637;
    width: 100%;
    padding-top: 10px;
    color: #e4dee4;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Contact .email {
    text-align: center;
    font-size: 11px;
  }
  .Contact .icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 4px;
    flex-direction: column;
    align-items: center;
  }
  .Contact .icons .contactme {
    /* margin-right: 25px; */
    padding: 30px;
  }
  .Contact .container {
    background-color: #030637;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    padding: 10px 10px 0 10px;
  }
  body {
    overflow-x: hidden;
  }
  .head .Header .pic img {
    width: 400px;
    height: auto;
    display: none;
  }
  .loading {
    flex-direction: column;
    font-size: 30px;
    left: 0;
  }
  .Not {
    font-size: 15px;
    left: 0;
  }
}
@media ((min-width: 1125px) and (max-width: 1532px)) {
  .aboutme .skills .first, .aboutme .skills .second, .aboutme .skills .third {
    margin-right: 81px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .aboutme .skills p {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0c5977;
    border: none;
    margin-left: 67px;
    padding: 30px;
    color: #e4dee4;
    font-size: 30px;
    z-index: 30;
  }
  .aboutme .skills {
    border-radius: 20px;
    background-color: #030637;
    width: 100%;
    padding-top: 10px;
    color: #e4dee4;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .project .section3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #030637;
    width: 100%;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }
  .Contact .container {
    background-color: #030637;
    width: 98%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    padding: 10px 10px 0 10px;
  }
  .myself .container {
    width: 80%;
    background-color: #030637;
    border-radius: 20px;
    padding: 5pc;
    background-color: #030637;
    width: 100%;
  }
}

